<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<connectionStrings>
		<add name="dbconnection" connectionString="Data Source=DESKTOP-LS5R3C6\SQLEXPRESS;Initial Catalog=HotelManagement;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
   <service behaviorConfiguration="ServiceBehaviour" name="HotelWCFService.HotelService">
    <endpoint binding="basicHttpBinding" contract="HotelWCFService.IHotelService" />
    <endpoint binding="basicHttpBinding" contract="HotelWCFService.IItemsService" />
    <endpoint binding="basicHttpBinding" contract="HotelWCFService.IAdminService" />
	<endpoint binding="basicHttpBinding" contract="HotelWCFService.IAccountService" />

	   <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="https://localhost:8085/" />
     </baseAddresses>
    </host>
   </service>
  </services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="HotelWCFService.HotelServiceAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
